@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;800&display=swap');

.sidebarChat {
    display: flex;
    /* padding: 20px; */
    cursor: pointer;
    /* border-bottom: 1px solid #f6f6f6; */
    /* margin-bottom: 6px; */
    width: 185px;
    color: #000000;
    padding-top: 9px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;
    max-width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.senderChat {
    background: rgba(196, 196, 196, 0.2);
}

.recipientChat {
    background: #005662;
    color: #ffffff;
}


/* .sidebarChat:hover {
    background-color: rgba(196, 196, 196, 0.2);
} */

.sidebarChat__info__name {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
    font-family: 'Encode Sans', sans-serif;
}

.sidebarChat__info__message {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    font-family: 'Encode Sans', sans-serif;
    margin-top: 8px;
    /* width: min-content; */
    max-width: 126px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebarChat__info {
    position: relative;
    margin-left: 10px;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 20px;
    background-color: #7EF6D4;

}