.message{
    background-color: #C4E0F6;
    height: 111px;
    width: 444px; /*fit content*/
    border-radius: 15px;
    margin: 10px 13px;
    padding: 20px;
    /* text-align: center; */
    font-weight: 900;
    color: #000000;
    font-family: 'Thabit', monospace;
    position: relative;
}

.sender{
    margin-left: auto;
    background-color: white;
}

.sender:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid #ffffff;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
    right: -13px;
    bottom: 0px;
  }
  
  .receiver:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid #C4E0F6;
    border-top: 20px solid transparent;
    border-bottom: 20px solid #C4E0F6;
    left: -13px;
    bottom: 0px;
  }
  
  